h1 {
    color: brown;
}

* {
    border: solid;
}

.fullpage {
    background-color: burlywood;
}

.header {
   background-color: bisque;
   display : flex;
   justify-content: space-between;
}

.grid {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display : flex;
    justify-content: space-evenly;
}

p,h2 {
    text-align: center;
}